
<body>
<h4> Programming language list</h4>
<div class="search-container">
  <%= form_tag(root_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], name: 'search', class: "search-input" ) %>
    <%= button_tag( :class => "search-btn") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>

  <% @languages_hash.each do |lang|%>
    <ul class="list">
      <li> <%= lang['Name'] %> Type: <%= lang['Type'] %> Designed by: <%= lang['Designed by']%> </li>
    </ul>
  <% end %>
</body>